.card{
    padding: 20px;
    border-radius: 10px;
    .top{
        display: flex;
        gap: 20px;
        align-items: center;
        h3{
            font-size: 24px;
        }
        p{
            font-size: 14px;
        }
        .icon {
            width: 80px;
            aspect-ratio: 1/1;
            border-radius: 100%;
        }
    }
    .rating{
        margin: 10px 0;
        font-size: 24px;
        display: flex;
        gap: 10px;
    }
    .review{
        text-align: center;
        padding: 15px 0;
    }
}