.button{
    background-color: #000;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 30px;
    &:hover{
        background-color: #000;
        opacity: 0.8;
    }
}