.nav {
    width: 100%;
    background-color: var(--1e1e1e);


    .navwrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        padding: 14px 18px;

        h2 {
            color: #CF9407;
            font-weight: 400;
            line-height: 37.41px;
            text-align: center;
            min-width: 194px;
            font-size: clamp(1.25rem, 5vw, 2rem);
        }

        .mobileMenu {
            display: none;
            // color: #fff;
            cursor: pointer;
            padding: 0.5rem;

            svg {
                font-size: 1.5rem;
            }
        }
    
        ul {
            // margin: 0 auto;
            display: flex;
            gap: 34px;
            // margin-right: 133px;
            list-style-type: none;
            align-items: center;
    
            li {
                
                a {
                    // color: var(--ededed);
                    font-family: var(--karla);
                    text-decoration: none;
                    font-weight: 400;
                    font-size: clamp(0.875rem, 0vw, 1rem);
                    line-height: 18.7px;
                    text-align: center;
                    cursor: pointer;
                    padding: 6px 15px;
                    border: 2px solid transparent white;
                    // border-image: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
                    // border-image-slice: 1;
                    display: inline-block;
                    transition: opacity 0.2s ease-in-out;

                    &:hover{
                        opacity: 0.5;
                    }
                }

                
            }
        }


    }

    @media screen and (max-width: 900px) {

        .navwrapper {

            h2 {
                line-height: 23.38px;
            }

            .mobileMenu {
                display: block;
            }

            ul {
                gap: 10px;
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: 70px;
                left: 0;
                background-color: var(--212121);
                display: none;
            }

            ul.open {
                height: 20%;
                background-color: var(--1e1e1e);
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-right: 1rem;
            }
        }
        
    }

    
}




