.layout {
    font-family: var(--karla);
    width: 100%;

    .contentwrapper {
        background-color: var(--212121);
        width: 100%;
        height: 100vh;
        

        .content {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;

        }
    }
}